.itemdetailspage {
  padding: 130px 0 40px 0;
  &__wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    background-color: rgba(0, 0, 0, 0.274);
  }
  &__img {
    max-width: fit-content;
    img {
      display: block;
      margin: 0 auto;
      width: 450px;
      height: 669px;
      object-fit: cover;
    }
  }
  &__name {
    text-align: right;
    font-size: 25px;
    font-weight: 700;
  }
  &__age,
  &__group {
    margin-top: 30px;
    font-size: 20px;
    text-align: right;
  }
  &__divider {
    margin: 0 auto;
    width: 100%;
    height: 2px;
    background-color: aqua;
  }
  &__edit {
    &-title {
      font-size: 20px;
      font-weight: 700;
      color: #fe7676ef;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      input {
        margin-top: 20px;
        width: 200px;
        background-color: #ff4e4e72;
        color: antiquewhite;
        border: none;
        padding: 7px;
      }
    }
    &-btn {
      display: block;
      margin: 15px auto 0 auto;
      background-color: green;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    &-remove {
      display: block;
      margin: 200px auto 0 auto;
      background-color: #ff4e4e72;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  }
}
